# exclude 
# Package managers
/node_modules/
/composer.lock
/vendor/
/web/bower_components/
/web/node_modules/
# PHP Storm
/.idea/
# Visual Studio Code
/.vscode/
# Visual Studio 2015 + PHP Tools 
/*.phpproj
/*.phpproj.*
/*.sln
/.vs
# Others
ideas.txt
.eslintrc.json