{# Dashboard page #}
{% extends "base.html.twig" %}

{% block title %}Persons{% endblock %}

{% block head %}
    {{ parent() }}


{% endblock %}

{% block content %}
<div class="row">
    <h4><b>Persons</b></h4>
    <div id="content">
        <div id="gridPerson" style="width:100%; height:250px;"></div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{app.request.basepath}}/js/view/person.js"></script>
{% endblock %}
