{# Dashboard page #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block toolbar %}  
<div class="toolbarline">
    <button type="button" class="btn btn-default"> 
        <i class="fa fa-save fa-fw"></i>Save
    </button>
</div>
{% endblock %}

{% block content %}
    <div id="title" class="h2">Workday:<b>{{ selectedDate }}</b> </div>
    <div id="formDay" style="width:100%;">
        <div class="w2ui-page page-0">
            <div class="w2ui-field">
                <label>Change date:</label>
                <div><input name="selectedDate"></div>
            </div>
        </div>
    </div>
    <div id="gridDay" style="width:100%; height:250px;"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{app.request.basepath}}/js/view/workday.js"></script>
{% endblock %}
