{# Dashboard page #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block toolbar %}  
<div class="toolbarline">
    <button type="button" class="btn btn-default"> 
        <i class="fa fa-plus fa-fw"></i>New
    </button>
</div>
{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block javascripts %}
{% endblock %}
