{# Dashboard page #}
{% extends "base.html.twig" %}

{% block title %}NotImplemented{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    {{name}}
</div>
{% endblock %}
