{# Dashboard page #}
{% extends "base.html.twig" %}

{% block title %}Workday{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}   
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">{{name}}</div>
    </div>
    <div class="panel-body">
        body
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        line 2
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="panel-footer">
        footer
    </div>
</div>
{% endblock %}
