/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.11.2015, 19:26:27
    Author     : igorb
*/
.body
{
    padding-top: 0;
}
.navbar
{
    margin-bottom: 0;
}

#wrapper {
    width: 100%;
}

.dateBar {
    background-color: #e7f0fc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
}

.workdayForm {
    background-color: white;
}

.workdayForm .input{
    padding-top: 3px;
    padding-bottom: 5px;
}

.workdayForm .label{
    color: #808080;
    font-family: sans-serif;
    font-size: small;
    padding-bottom: 5px;
}

.toolbarline
{   
    background-color: #F8F8F8;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.container
{
    padding-top: 5px;
}

.navbar-brand 
{
    line-height: inherit;
    padding-top: 12px;
}

/* font icons center in the middle of the line height */
.fa
{ 
    line-height: inherit;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}


